format = """
$username\
$hostname\
$directory\
$git_branch\
$git_status\
$cmd_duration\
$character"""

right_format = """
${custom.temp}\
$time"""

[character]
success_symbol = "[❯](purple)"
error_symbol = "[❯](red)"

[directory]
style = "cyan"

[cmd_duration]
min_time = 4
show_milliseconds = false
disabled = false
style = "yellow"

[time]
disabled = false
format = '$time'
time_format = "%l:%M %p"
style = "dimmed white"
